<link rel="stylesheet" href="/css/link.css">
<a href="/"><button>Home</button></a><br>
<a href="{{link.url}}"> {{link.title}}</a>
<h5>BY: {{link.username}}</h5>
<form method="post">
	Sort Comments By:<input type="submit" name="time" value="Time">
	<input type="submit" name="vote" value="Vote">
</form>
{% for comment in comments %}
	<div>{{comment.content}}</div>
	<span><h5>By: {{comment.username}}</h5></span>
	<form method="post">
		{{comment.vote}}
		{% if comment.voted == "1" %}
			<input type="submit" class="upvoted" name="upvote{{comment.id}}" value="upvote" >
			<input type="submit" name="downvote{{comment.id}}" value="downvote">
		{% elseif comment.voted == "-1" %}
			<input type="submit" name="upvote{{comment.id}}" value="upvote" >
			<input type="submit" class="downvoted" name="downvote{{comment.id}}" value="downvote">
		{% endif %}
	</form>
	<hr>
{% endfor %}

<form method="post">
	Your Comment:<input type="text" name="comment">
	<input type="submit" name="submit" value="submit">
</form>