<link rel="stylesheet" href="/css/votes.css">
<h1>Posts</h1>
<a href="/"><button>Home</button></a>
{%for link in links%}
	<a href="{{link.url}}">
		<h3>{{link.title}}</h3>
	</a>
	<form method="POST">
		{{link.vote}}
		{% if link.voted == "1" %}
			<input type="submit" class="upvoted" name="upvote{{link.id}}" value="upvote">  <!-- Ignore HTMLLintBear -->
			<input type="submit" name="downvote{{link.id}}" value="downvote">
		{% elseif link.voted == "-1" %}
			<input type="submit" name="upvote{{link.id}}" value="upvote">
			<input type="submit" class="downvoted" name="downvote{{link.id}}" value="downvote">
		{% else %}
			<input type="submit" name="upvote{{link.id}}" value="upvote">
			<input type="submit" name="downvote{{link.id}}" value="downvote">
		{% endif %}
		<a href="/link/{{ link.id }}">Comments</a>
	</form>
{%endfor%}